.buttons {
    background-color: cornflowerblue;
}
    .table - fill {
background: white;
    border - radius: 3px;
    border - collapse: collapse;
margin: 175px 0 0 373px;
padding: 3px;
    box - shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
animation: float 5s infinite;
    margin - top: -550px;
position: absolute
      }
.table-fill{
    margin-left:175px
}
body {
    background: url('../Travel WindowSeat h_16.00110675.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 !important;
    /*padding: 150px 0 0 0;*/
}

th
{
color: #D5DDE5;
        /*background: #1b1e24;*/
        border - bottom: 4px solid #9ea7af;
        border - right: 1px solid #343a45;
        font - size: 17px;
    font - weight: 100;
padding: 5px;
    text - align: left;
    text - shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical - align: middle;
}

th: first - child {
    border - top - left - radius: 3px;
}

th: last - child {
    border - top - right - radius: 3px;
    border - right: none;
}

thead tr
{
    height: 67px;
}

thead tr th {
            width: 163px;
text - align: center!important;
        }

        tbody tr th {
            width: 163px;
text - align: center!important;
        }
        
        .buttons
{
width: 75px!important;
    text - align:center!important;
}
tbody tr
{
    height:40px !important;
}
tbody tr td{
        text-align:center!important;

    }
    tr
{
    border - top: 1px solid #C1C3D1;
        /*border-bottom-: 1px solid #C1C3D1;*/
        color: #666B85;
        font - size: 18px;
    font - weight: normal;
    text - shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr: hover td {
background: #4E5066;
            color: ghostwhite;
    border - top: 1px solid #22262e;
        }

td a:hover
{
color: ghostwhite;
}

tr: first - child {
    border - top: none;
}

tr: last - child {
    border - bottom: none;
}

tr: nth - child(odd) td
{
/*background: #EBEBEB;*/
    }

tr: nth - child(odd):hover td
{
    /*background: #4E5066;*/
        color: ghostwhite
}

tr: last - child td: first - child {
    border - bottom - left - radius: 3px;
}

tr: last - child td: last - child {
    border - bottom - right - radius: 3px;
}

td
{
/*background: #FFFFFF;*/
        padding: 3px;
    text - align: left;
    vertical - align: middle;
    font - weight: 300;
    font - size: 15px;
    text - shadow: -1px - 1px 1px rgba(0, 0, 0, 0.1);
    border - right: 1px solid #C1C3D1;
    }

td: last - child {
    border - right: 0px;
}

th.text - left {
    text - align: left;
}

th.text - center {
    text - align: center;
}

th.text - right {
    text - align: right;
}

td.text - left {
    text - align: left;
}

td.text - center {
    text - align: center;
}

td.text - right {
    text - align: right;
}
thead tr th {
    color: black;
    font-size: 22px;
}
tbody tr td {
    color: black;
    font-size: 15px;
}

