* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: ghostwhite !important;
    padding: 15px;
    display: flex;
}

.navhome {
    font-weight: bold;
    font-size: x-large;
    margin: 0 630px 0 73px;
}

    .body{
        margin-top:150px;
    }

body {
    background: url(../AIRPORT.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 150px 0 0 0;
}
.navlist {
    list-style-type: none;
    display: flex;
    font-size: large;
    margin-top: 2px;
    float:right;
}


.navlist li {
    margin-right: 30px;
}

.duyme {
    text-decoration: dashed;
    color: black;
    padding: 8px;
}

.duyme:hover {
    background-color:aliceblue !important;
    border-radius: 13px;
    text-decoration:none;
}
.dropdown-content a:hover {
    background-color: bisque !important;
    color: black !important;
}

.dropdown {
    display: inline-block;
    position: relative;
    width:175px;
    border-radius:2px
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: ghostwhite !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

    .dropdown-content a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
    }